*{
    margin: 0;
    
}
body{
    margin: 40px;
    font-family: sans-serif;
    display: grid;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.menu1{
    width: 468px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 18px;
    color: #6c727f;
    font-weight: 600;
}
.menu-button{
    display: none;
}
.menu-close-button{
    display: none;
    position: absolute;
    top:0;
    right: 0;
}
.menu1 a{
    margin-bottom: 20px;
    cursor: pointer;
}
.menu1 a:hover{
    color: black;
}
#menu-toggle:checked ~ .menu1{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 30px;
    min-width: 404px;
    width: 50vw;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    position: fixed;
    right: 0;
    top:0;
    bottom: 0;
    color: black;
    background-color: white;
}

#menu-toggle:checked ~ .menu-button{
    display: none;
}
#menu-toggle:checked ~ .page{
     background-color: rgba(0,0,0,0.4);
    position: fixed;
    inset: 0;
    z-index: -9px;
}
#menu-toggle:checked ~ .menu1 .menu-close-button {
    display: block;
}

main{
    
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 48px;
}
.picture{
    width: 69.5%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.image img{
    position: relative;
    width: 100%;
    z-index: -1000;
}
.content{
    display: flex;
    flex-direction: row;
    column-gap: 64px;
}
.content-heading{
    text-size-adjust: 100%;
    font-weight:900;
    font-size: 24px;
    line-height: 1;
    tab-size: 4;
    max-width: 318.88px;
    
}
.content-discription{
    font-size: 18px;
    line-height: 28px;
    tab-size: 4px;
    color: #6b7280;
}
.content-discription button{
    margin-top: 20px;
    height: 40px;
    max-width: 149px;
    border: none;
    background-color: #ef4444;
    padding: 8PX;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.news{
    width: 30.5%;
    padding: 20px;
    max-width: 395.13px;
    max-height: 536.06px;
    background-color: #172554;

}
.news h1{
    color: #FB923C;
    margin-top: 10px;
    margin-bottom: 30px;
}
.news h2{
    color: rgb(203, 213, 225);
    display :block;
    font-family :ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings :normal;
    font-size :20px;
    font-variation-settings: normal;
    font-weight: 800;
    margin-bottom: 10px;
}
.news h2:hover{
    color: #FB923C;
}
.news p{
    color: #6b7280;
    padding-top: 5px;
    font-size: 14px;
    font-variation-settings: normal;
    font-weight: 700;
    margin-bottom: 10px;
}
.news-content{
    border-bottom: solid;
    border-color: rgb(229, 231, 235);
    border-width: 1px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.other-news{
    display: flex;
    row-gap: 12px;
    column-gap: 12px;
}
.card{
    display: flex;
    height: 162px;
    row-gap: 12px;
    column-gap: 12px;
    
}
.info{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 12px;
}
.info h1{
    font-size: 36px;
    line-height: 24px;
    font-weight: 700;
    tab-size: 4;
    color: rgb(220,38,38);
}
.info h2{
    color: black;
    font-size: 18px;
    text-size-adjust: 100%;
    font-weight: 800;
    line-height: 24px;
    tab-size: 4;
    cursor: pointer;
}
.info p{
    font-size: 18px;
    line-height: 20px;
    color: rgb(156, 163,175);
}
.card img{
        max-width: 128px;
        max-height: 162.55px;
    }
@media screen and ( max-width : 1024px) {
    body{
        margin: 12px;
    }
    .menu img{
        height: 20px;
        width: 30px;
    }

    .menu1{
        display: none;

    }
    
    .menu-button{
        display: block;
    }
    .menu-close-button
    {
        display: block;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .picture{
        width: 100%;
        flex-direction: column;
    }
    .content{
        flex-direction: column;
    }
    .content-heading{
        max-width: 100%;
        width: 100%;
        font-size: 18px;
    }
    .content-discription{
        font-size: 14px;
    }
    .news{
        width: 100%;
        max-width: 100% ;
        max-height: none;
        box-sizing: border-box;
    
    }
    .news div{
       
        width: 100%;
    }
    .other-news{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto ;
    }
    .info h1{
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
        tab-size: 4;
        color: rgb(220,38,38);
    }
    .info h2{
        color: black;
        font-size: 16px;
        text-size-adjust: 100%;
        font-weight: 700;
    
        tab-size: 4;
    }
    .info p{
        font-size: 14px;
        line-height: 20px;
        color: rgb(156, 163,175);
    }
        
    
}

@media screen and (max-width:768px){
    .image img{
        
        max-height: 633px;
        width: 100%;
        min-height: 403px;
    }
    .other-news{
        display: flex;
        flex-direction: column;
    }
}